<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>express server</title>
    <link rel="icon" href="/favicon.ico" />
    <link href="http://localhost:3000/static/css/index.css" rel="stylesheet" type="text/css">
    <script src="http://localhost:3000/static/js/index.js"></script>
    <script src="../src/libs/axios.min.js"></script>
</head>
<body>
    <audio controls="controls" src="http://localhost:3000/static/bubble.mp3"></audio>
    <script>
        fn();
    </script>
</body>
</html>
